body{

    margin: 0 77px 24px 77px;


}

main .content{
    column-gap: 50px;
}

.info-error-content h1 {

    max-width: 580px;



    font-size: 64px;
    line-height: 95px;


    margin-bottom: 28px;
}

.info-error-content p{
    font-size: 24px;
    line-height: 36px;

}